@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'JMH Cthulhumbus Arcade';
  src: url('./assets/JMH Cthulhumbus Arcade.otf') format('truetype');
}

body {
  /* font-family: "Press Start 2P" ;  */
  font-family: 'JMH Cthulhumbus Arcade'; 
  background-color: rgb(0, 0, 0);
  background-image: url(./assets/starbg.png);
  background-position: center;
  background-size: 500px;
}

.background {
  background-image: url(./assets/starbg.png);
  background-size: 500px;
  background-attachment: fixed;
  min-height: 100vh;
}




/* CustomCursor.css */
.custom-cursor {
  position: fixed;
  width: 50px; /* Customize width as needed */
  height: 50px; /* Customize height as needed */
  background-image: url(./assets/mouse.svg); /* Replace 'path/to/your/image.png' with your image path */
  background-size: contain; /* Adjust background size */
  background-repeat: no-repeat; /* Prevent image from repeating */
  pointer-events: none; /* Ensures the custom cursor does not interfere with mouse events */
  z-index: 9999; /* Ensure cursor stays on top of other elements */
}
